.container-cards-pokemon
{
    background-color: gray;
    height: 338px; 
    border-radius: 8px;   
 }

 .container-tipo
 {
    width: 111px;
    height: 32px;
    background-color: green;
    border-radius: 8px;
 }