<div class="container-page">
    <div class="container-image">
        <img class="image-logo" src="assets/images/pokemon-logo.png" alt="">   
    </div>
    
    <div class="container-input">
        <input 
            class="input-search" 
            type="search"
            placeholder="Para encontrar um Pokémon, digite o nome dele aqui...">
    </div>
    
    <div class="container-all-cards">
        <div class="container-cards-pokemon">
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
            <card-pokemon></card-pokemon>
        </div>
    </div>    
</div>    
    